<div style="display: flex;align-items: center;justify-content: center;">
    <img style="width: 10%;" src="success.png" alt="">
</div>
<div style="display: flex;align-items: center;justify-content: center;margin-top: 10px;">
    <h3>THANH TOÁN THÀNH CÔNG</h3>
</div>
<div style="display: flex;align-items: center;justify-content: center;margin-top: 10px;">
    <span style="font-weight: bold;">MÃ CODE :</span>
</div>
<div style="display: flex;align-items: center;justify-content: center;margin-top: 10px;">
    <span>{{gifcode.code}}<i (click)="CopyGifCode()" style="font-size: 20px;margin-left: 10px;cursor: pointer;"  class="fa-solid fa-copy"></i></span>
</div>
<div style="display: flex;align-items: center;justify-content: center;margin-top: 10px;">
    <span style="color: green;">Cảm ơn đã mua hàng</span>
</div>
<div style="display: flex;align-items: center;justify-content: center;margin-top: 10px;">
    <a style="color: black;text-decoration: none;border: 1px green solid;padding: 5px 15px 5px 15px;" href="/">Tiếp Tục Mua Hàng</a>
</div>